@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  background-color: black;
  height: 113px;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    text-decoration: none;
    color: #717171;
    font-size: 28px;
    font-weight: 400;
    line-height: 29px;
  }

  &__logo {
    background-image: url("../images/apple_logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 48px;
  }

  &__number {
    color: #717171;
    font-size: 28px;
    font-weight: 400;
    line-height: 29px;
  }
}
